h1 {
	color: darkred; 
}	

img {
	width: 400px;
}

#thirdDiv{
	height: 500px;
	width: 600px;
	background-color: #bf4040;
	padding: 50px;
	border: 10px solid #00a2ff;
}

#spanId{
	font-size: 18px;
	margin: 50px;
}